<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.my.community.Dao.DiscussPostMapper">
    <sql id="selectDiscuss">
        id
        , user_id, title, content, type, status, create_time, comment_count, score
    </sql>
    <insert id="addDiscussPost">
        insert into discuss_post (<include refid="selectDiscuss"/>)
        values (null, #{userId}, #{title}, #{content}, #{type}, #{status}, #{createTime}, #{commentCount}, #{score})
    </insert>
    <select id="findDiscussPosts" resultType="DiscussPost">
        select
        <include refid="selectDiscuss"></include>
        from
        discuss_post
        where status!=2
        <if test="userId!=0">
            and user_id = #{userId}
        </if>
        order by type DESC,create_time DESC
        limit #{offset}, #{limit}
    </select>
    <select id="findDiscussPostRows" resultType="int">
        select
        count(id)
        from
        discuss_post
        where status!=2
        <if test="userId!=0">
            and user_id = #{userId}
        </if>
    </select>
    <select id="findDetailPost" resultType="DiscussPost">
        select
        <include refid="selectDiscuss"/>
        from discuss_post where id = #{id}
    </select>
</mapper>
